### PUBLIC VARIABLES ###
NEXT_PUBLIC_APP_NAME="Starter Kit SaaS"
NEXT_PUBLIC_APP_DESCRIPTION="An Starter Kit for better developmet saas, fast code x10"
NEXT_PUBLIC_APP_URL=http://localhost:3000

NEXT_PUBLIC_SENTRY_DSN="..."
### PUBLIC VARIABLES ###

### PRIVATE VARIABLES ###
NODE_ENV="development"

AUTH_SECRET="7Anr69NOr5FSuSnsewckKRx+k6umHHgEtvhVOmATANg="

DATABASE_URL="postgresql://root:root@localhost:5432/starter-kit-ts&schema=public"

INNGEST_SIGNING_KEY="your-inngest-signing-key"

RESEND_API_KEY="your-resend-api-key"

SENTRY_DSN="..."
SENTRY_ORG="..."
SENTRY_PROJECT="...."
SENTRY_AUTH_TOKEN="..."

UPLOADTHING_TOKEN="..."
### PRIVATE VARIABLES ###
