@import "tailwindcss";
@plugin "daisyui" {
  themes:
    bumblebee --default,
    forest --prefersdark;
}

@custom-variant dark (&:where([data-theme=forest], [data-theme=forest] *));

@theme {
  /* Definimos la animación directamente aquí */
  --animate-infinite-scroll: scroll-infinite 40s linear infinite;

  @keyframes scroll-infinite {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  --font-sans:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
